@media ( max-width:768px)
	.promo
		.promo
			&__wrapper
				align-items: center
			&__header
				font-size: 38px
			&__subheader
				font-size: 20px
	.header
		&__official
			display: none

	.advantages
		.advantages
			&__wrapper
				flex-direction: column
				align-items: center
			&__items
				margin-top: 50px
				&:first-child
					margin-top: 0
	.consultation
		.consultation
			&__descr
				text-align: center
		.title
			&_left
				font-size: 30px
				text-align: center
		.feed-form
			margin-left: auto
			margin-right: auto
		
@media ( max-width:576px)
	.promo
		.promo
			&__wrapper
				align-items: center
			&__header
				font-size: 30px
			&__subheader
				font-size: 15px
			&__icon
				width: 70px
				font-size: 12px
			&__link
				font-size: 14px
		.button_main
			width: 250px
			height: 40px
			font-size: 14px

	.advantages
		.advantages
			&__wrapper
				flex-direction: column
				align-items: center
			&__items
				margin-top: 50px
				&:first-child
					margin-top: 0
		.title
			font-size: 26px
	.consultation
		padding: 120px
		.consultation
			
			&__descr
				text-align: center
				font-size: 16px
		.title
			&_left
				font-size: 26px
		.feed-form
			margin-top: 10px
		.button_submit
			font-size: 14px
					
				
				
				



			
	