@import "base/fonts"
@import "base/variables"
@import "base/mixins"
@import "base/buttons"
@import "blocks/promo"
@import "blocks/header"


*
	font-family: 'Museo Sans Cyrl',sans-serif
	box-sizing: border-box
.container
	max-width: 950px
	margin: 0 auto
	
	
	
	

	
	 

	
	
	
