.catalog
	padding-bottom: 103px
	&__tabs
		margin-top: 70px
		list-style-type: none
		display: flex
		justify-content: center
		margin-bottom: 0
		padding-left: 0
	&__tab
		width: 220px
		height: 50px
		border: 2px solid #d0d0d0
		color: #6b6b6b
		font-size: 18px
		font-weight: 400
		text-transform: uppercase
		text-align: center
		line-height: 2.6
		position: relative
		transform: skewX(-20deg)
		margin: 0 5px
		cursor: pointer
		transition: all 0.5s
		&:hover
			box-shadow: 0px 0px 20px $main-color
			border: none
		div
			transform: skewX(20deg)
		&_active
			background-color: $main-color
			color: $white-color
			font-size: 18px
			font-weight: 400
			border: none
	&__content
		margin-top: 60px
		display: flex
		flex-wrap: wrap
		// justify-content: space-between
		display: none
		&_active
			display: flex
	&-item
		width: 300px
		min-height: 440px
		border: 2px solid #e8e8e8
		padding: 20px 20px 26px 20px
		overflow: hidden
		margin: 0 5px
		margin-bottom: 20px
		position: relative
		&__img
			display: block
			max-width: 100%
			height: 200px
			margin: 0 auto
		&__subtitle
			margin-top: 20px
			color: $text-color
			font-size: 16px
			font-weight: 600
			text-align: center
		&__descr
			color: $text-color
			font-size: 14px
			font-weight: 400
			text-align: center
			margin-top: 16px
		&__link
			display: block
			margin: 0 auto
			width: 87px
			margin-top: 17px
			color: $main-color
			font-size: 14px
			font-weight: 400
			position: relative
			overflow: hidden
			padding-bottom: 1px
			text-transform: uppercase
			@include underline
		hr
			border-bottom: none
			height: 1px
			background-color: #e8e8e8
			margin-bottom: 21px
			margin-top: 18px
			opacity: 0.4
		&__footer
			display: flex
			justify-content: space-between
			align-items: center
		&__old-price
			color: #555555
			font-size: 14px
			font-weight: 400
			text-decoration: line-through
		&__price
			color: #050505
			font-size: 20px
			font-weight: 600
		&__wrapper
			position: relative
			height: 340px
			display: flex
			width: calc(200% + 40px)
		&__content
			width: 50%
			margin-right: 0
			transform: translateX(-100%)
			transition: 0.5s all	
			&_active
				margin-right: 20px
				transform: translateX(0%)
		&__list
			position: relative
			width: 50%
			margin-left: 20px
			transform: translateX(0%)
			padding-right: 24px
			padding-left: 0
			margin-bottom: 0
			list-style-type: none
			transition: 0.5s all
			li
				color: #555555
				font-size: 14px
				font-weight: 400
				margin-bottom: 25px
				position: relative
				&::before
					content: ''
					display: block
					position: absolute
					top: 7px
					left: -14px
					width: 5px
					height: 5px
					background-color: $main-color
			&_active
				transform: translateX(-100%)
				margin-left: 0px
		&__back
			color: $main-color
			font-size: 14px
			font-weight: 400
			text-decoration: none
			position: absolute
			bottom: 0
			display: block
			transform: translateX(90px)
			overflow: hidden
			padding-bottom: 1px
			text-transform: uppercase
			@include underline





			
				
				
				
				
				
				
				

			

			
				



		
		
			
		